body.index #main {
    padding-top: 3em;
}
header.special {
    padding-top: 0;
}
                
a {
    color: #333;
    border-bottom: none;
    cursor: pointer;
}
a img {
    border: none;
}
td a {
    color: #CCC;
}
.row h3 {
    margin: 0;
}
.icon.featured {
    cursor: pointer;
}
a:hover {
    color: #CCC;
}
label {
    display: block;
    width: 100%
    clear: both;
    margin: 10px 0;
    border-bottom: solid 1px #CCC;
    color: #333;
    font-weight: bold;
}
select, input {
    width: 100%;
    height: 30px;
    color: #000;
    border: solid 1px #ccc;
}
textarea {
    width: 100%;
    background: #fff;
    border: solid 1px #ccc;
    color: #000;
}
a button {
    color: #FFF;
    border: solid 1px #FFF;
}
button {
    margin: 30px 0 10px;
}
input.error, select.error, textarea.error {
    background: rgba(255, 150, 150, .7);
}
label.error {
    font-weight: normal;
    font-size: 12px;
    border: none;
    padding: 0;
    margin: 0;
}
.green {
    color: green;
}
.red {
    color: red;
}
#gear-modal {
    width: 400px;
    height: 600px;
    padding-top: 30px;
    background: #FFF;
    border: solid 1px #CCC;
    position: fixed;
    top: 20%;
    left: 50%;
    margin-left: -200px;
    background: #333;
    border-radius: 3px;
    display: none;
}
#gear-side {
    width: 73px;
    height: 600px;
    float: left;
}
#gear-middle {
    width: 250px;
    height: 600px;
    float: left;
    position: relative;
    color: #FFF;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.gear-bottom {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 490px;
    left: 0;
}
.gear-lastseen {
    font-size: 14px;
}
#gear-modal-close {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #000;
    border: none;
    line-height: 20px;
    font-size: 20px;
    color: #FFF;
}
.gear-box {
    width: 65px;
    height: 65px;
    margin: 5px 5px 0;
    border: solid 1px #000;
    border-radius: 3px;
    float: left;
    background-size: contain;
}
#gear-middle .gear-box:first-of-type {
    margin-left: 20px;
}
.gear-loading img {
    margin: 25px;
    width: 50px;
}
.wowhead-tooltip p { 
    display: none;
}
.text-right {
    text-align: right;
}
a[quality="0"] {
    border: solid 1px #9d9d9d;
}
a[quality="1"] {
    border: solid 1px #ffffff;
}
a[quality="2"] {
    border: solid 1px #1eff00;
}
a[quality="3"] {
    border: solid 1px #0070dd;
}
a[quality="4"] {
    border: solid 1px #a335ee;
}
a[quality="5"] {
    border: solid 1px #ff8000;
}
.color-druid {
    color: #FF7D0A;
}
.color-hunter {
    color: #A9D271;
}
.color-mage {
    color: #40C7EB;
}
.color-paladin {
    color: #F58CBA;
}
.color-priest {
    color: #FFFFFF;
}
.color-rogue {
    color: #FFF569;
}
.color-shaman {
    color: #0070DE;
}
.color-warlock {
    color: #8787ED;
}
.color-warrior {
    color: #C79C6E;
}
.container h2, .container h4 {
    margin-bottom: 0;
}
h2 i {
    font-size: 12px;
    margin-left: 10px;
}
@media screen and (max-width: 736px) {
    .wrapper.style2 {
        padding: 0;
    }
    table td, table th {
        padding: 0 2px 0;
        font-size: 10px;
        text-align: left;
    }
    #header.alt {
        display: block;
        padding: .5em 0;
    }
    #header nav {
        display: none;
    }
    #banner {
        padding: 1.5em;
    }
    body.index #main {
        padding-top: 0;
    }
    h1#logo {
        font-size: 20px;
    }
    h2 {
        text-align: left;
        padding: .5em;
    }
    h4 {
        text-align: left;
        color: #CCC;
        padding: 0 .5em;
    }
    header.special.container {
        display: none;
    }
    .gb-row, .gb-row label, .gb-row input, .gb-row select, .gb-row textarea {
        text-align: left;
        margin: .5em 2% 0;
        width: 96%;
        font-size: .85em;
    }
    .gb-row .sp-replacer {
        margin: 0 2%;
    }
    .gb-row button {
        margin: 15px 2%;
        width: 96%;
        max-width: 96%;
    }
    .gb-actions {
        clear: both;
    }
    .gb-actions button {
        float: left;
        width: 46%;
        margin: 2%;
        padding: 0;
        min-width: 0;
        font-size: 10px;
    }
    .gb-lineup-bottom {
        padding: .5em;
        border-top: solid 2px #CCC;
        margin-top: 2em;
    }
    .gb-lineup-bottom button {
        max-width: 90%;
        margin: 1em 5%;
    }
    .gb-lineup-top {
        border-bottom: solid 2px #CCC;
        margin-bottom: 2em;
    }
    .gb-lineup-top a {
        padding: .5em;
    }
    .container {
        clear: both;
        text-align: left;
        min-height: 100px;
    }
    .wrapper {
        margin-bottom: 0;
    }
    table span.icon {
        font-size: 1.5em;
        margin-left: .5em;
    }
}